

.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    color: black;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    padding: 20px;
    width: 300px;
    border-radius: 15px;
}



.card h2 {
    color: black;
    margin-bottom: 15px;
}

.card p {
    margin: 8px 0;
}

.delete-btn {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    background:black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.delete-btn:hover {
    background: red;
}