
.event-container {
  background: #0b0b0b;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.event-form {
  background: #111;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 0 20px rgba(255, 78, 205, 0.4);
}

.event-form h2 {
  text-align: center;
  color: #ff4ecd;
  margin-bottom: 20px;
}

.event-form input,
.event-form select,
.event-form textarea {
  width: 100%;
  padding: 9px;
  margin-bottom: 30px;
  border: 1px solid #ff4ecd;
  background: #000;
  color: white;
  border-radius: 8px;
  outline: none;
}

.event-form textarea {
  height: 80px;
}

.event-form button {
  width: 100%;
  padding: 12px;
  background: #ff4ecd;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.event-form button:hover {
  background: #ff1bb3;
}